/* Styles for About Page */

.about_cover {
  height: 223px;
  background-image: url(../assets/images/about-cover.jpg);
  background-repeat: no-repeat;
  background-position: center 41%;
  background-size: cover;
  border-radius: 1.5625rem;
  filter: brightness(0.7);
  margin: 3.125rem 0 0;
}
