.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6.9375rem;
  background-image: url(../assets/images/banner-bg-sm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0.625rem;
  margin: 1.1875rem 0px 1.375rem 0px;
}

.banner h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13.9375rem;
    background-image: url(../assets/images/banner-bg.png);
    border-radius: 1.5625rem;
    margin: 4.25rem 0px 2.6875rem 0px;
  }

  .banner h1 {
    font-size: 3rem;
  }
}
