.card-generator a {
  text-decoration: none;
}

.card {
  width: auto;
  height: 15.9375rem;
  display: flex;
  align-items: flex-end;
  border-radius: 0.625rem;
  padding: 0.9375rem 1.25rem;
  margin-bottom: 1.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card:hover {
  filter: brightness(0.8);
  transition: filter 0.2s ease-in-out;
}

.card_title {
  color: #fff;
  font-size: 1.125rem;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .card-generator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.125rem 3.75rem;
    background-color: #f6f6f6;
    border-radius: 1.5625rem;
    padding: 3.5rem 3.125rem;
  }

  .card {
    width: 18.75rem;
    height: 18.75rem;
    padding: 1.25rem;
    margin: 0;
  }
}
