/* Styles for Collapse component */

/* Mobile styles */

.collapse-body .collapse-content {
  display: none;
}

.collapse-body--open .collapse-content {
  display: block;
}

.collapse-body--open .collapse-header img {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  padding: 9px 32px 9px 19px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.collapse-header p {
  font-size: 13px;
  color: #fff;
  margin: 0;
}

.collapse-header img {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.collapse-content {
  background-color: #f6f6f6;
  padding: 17px 6px 19px 11px;
}

.collapse-content p {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

/* Desktop styles */

@media screen and (min-width: 768px) {
  .collapse-header {
    margin-top: 30px;
  }

  .collapse-content {
    padding: 30px 27px 19px 18px;
  }
  .collapse-header p {
    font-size: 24px;
  }

  .collapse-content p {
    font-size: 24px;
  }
}
