#error-page h1 {
  font-size: 288px;
  font-weight: 700;
  margin-bottom: 66px;
}

#error-page p {
  font-size: 36px;
  margin-bottom: 182px;
}

#error-page a {
  font-size: 18px;
}

#error-page {
  text-align: center;
}
