/* Styles for Header */

/* Mobile styles */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.header_logo {
  width: 9.0625rem;
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.navbar li:nth-of-type(2n) {
  margin-left: 0.625rem;
}

.navbar li a {
  text-decoration: none;
}

.navbar li a:hover,
.navbar li a:active,
.navbar li a:focus {
  text-decoration: underline;
}

/* Desktop styles */

@media screen and (min-width: 768px) {
  .header_logo {
    width: 13.125rem;
  }

  .navbar li {
    font-size: 1.5rem;
    text-transform: none;
  }

  .navbar li:nth-of-type(2n) {
    margin-left: 3.5625rem;
  }
}
