/* Styles for Logement Page */

/* Mobile styles */

.logement_details--top-left h2,
.logement_details--top-left p {
  font-weight: 500;
  margin-bottom: 0.625rem;
}

.logement_details--top-left h2 {
  font-size: 1.125rem;
}

.logement_details--top-left p {
  font-size: 0.875rem;
}

.logement_tag {
  display: inline-block;
  width: 5.25rem;
  padding: 0.1875rem 0 0.125rem;
  margin-right: 0.625rem;
  text-align: center;
  color: #fff;
  font-size: 0.625rem;
  background-color: #ff6060;
  border-radius: 0.3125rem;
}

.logement_details--bottom-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.ratings_wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.ratings_wrapper svg {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.3125rem;
}

.ratings_star--0 path {
  fill: #e3e3e3;
}

.ratings_star--1 path {
  fill: #ff6060;
}

.logement_host {
  display: flex;
  align-items: center;
}

.logement_host_name {
  font-size: 0.75rem;
  margin-right: 0.625rem;
  text-align: right;
  max-width: 5.9375rem;
}

.logement_host_img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.logement .collapse-header:nth-of-type(1) {
  margin-top: 1rem;
}

.logement .collapse-content:nth-of-type(2) span {
  display: block;
}

/* Desktop styles */

@media screen and (min-width: 768px) {
  .logement_details {
    display: flex;
    justify-content: space-between;
  }

  .logement_details--top-left {
  }

  .logement_details--top-left h2 {
    font-size: 2.25rem;
  }

  .logement_details--top-left p {
    font-size: 1.125rem;
    margin-top: 0px;
    margin-bottom: 1.125rem;
  }

  .logement_tag {
    width: 7.1875rem;
    padding: 0.25rem 0 0.1875rem;
    font-size: 0.875rem;
    border-radius: 0.625rem;
  }

  .logement_details--bottom-right {
    flex-direction: column;
    justify-content: normal;
    align-items: end;
  }

  .logement_details--bottom-right .ratings_wrapper {
    order: 2;
    margin-top: 1.5rem;
  }

  .logement_details--bottom-right .ratings_wrapper svg {
    width: 1.875rem;
    height: 1.875rem;
  }

  .logement_details--bottom-right .ratings_wrapper svg:not(:nth-of-type(5)) {
    margin-right: 0.625rem;
  }

  .logement_details--bottom-right .logement_host {
    order: 1;
  }

  .logement_host_name {
    font-size: 1.125rem;
  }

  .logement_host_img {
    width: 4rem;
    height: 4rem;
  }

  .logement .collapses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.6875rem;
    margin-top: 0.5rem;
  }
}
